.trendingProductWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h3{
    margin: 0;
    margin-bottom: 25px;
}
.boreder{
    border-radius: 9px;
    overflow: hidden;
}

.trendingProductCardWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}