.wrap{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #191919;
    margin-left: 20px;
    border-radius: 5px;
    overflow: hidden;
    padding: 24px;
}

.wrapImg{
    max-width: 375px;
    border-radius: 5px;
    overflow: hidden;
}

.wrapImg img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.productInfoWrap{
    display: flex;
}

.otherProducts{
    display: flex;
    flex-direction: column;
}

.otherImgWrap{
    margin: 2.5px;
    max-width: 90px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.otherImgWrap img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.ProductInfo{
    display: flex;
    flex-direction: column;
    max-width: 385px;
    margin-left: 30px;
}

.productName{
    color: #F6F6F7;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.productPrice{
    color: #F6F6F7;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.productParameters{
    margin-bottom: 16px;
}

.productSizeWrap{
    margin-bottom: 16px;
}

.productColor:first-child{
    color: #576067;
    font-weight: 500;
    font-size: 14px;
    margin-right: 16px;
}

.productColor:last-child{
    color: #F6F6F7;
    font-weight: 500;
    font-size: 14px;
}

.productSize{
    cursor: pointer;
}
.productSizeText{
    color: #576067;
    font-weight: 500;
    font-size: 14px;
    margin-right: 16px;
    cursor:text ;
}

.productSize{
    color: #F6F6F7;
    font-weight: 500;
    font-size: 14px;
    padding: 4px 8px;
    background-color: #212123;
    border-radius: 10px;
    margin: 0 2.5px;
}

.active{
    color: #F6F6F7;
    background-color: #6C3EB8;

}

.productDescriptionWrap{
    margin-bottom: 16px;
}

.productDescription{
    font-weight: 400;
    font-size: 12px;
}
.productButton{
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    color: #FFFFFF;
}
.productButton:first-child{

    color: #FFFFFF;
    background-color: #6C3EB8;
    padding: 9px 25px;
}

.productButton:last-child{
    background-color: #B8B8B8;
    margin-left: 10px;
    padding: 9px 25px;
}

.productButton:disabled{
    background-color: #212123;
    cursor:not-allowed ;
}